/*=========================================================================
            Link & Button Disable
  =========================================================================*/

a.disabled:hover {
cursor:not-allowed
}

/*=========================================================================
           Gray Scales
  =========================================================================*/
  
#flavors {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .3s ease-in-out;  
    }

    #flavors:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.18);
    }
    