<meta name="robots" content="noindex, nofollow" />
<!-- portfolio item -->

<div class="col-md-4 col-sm-6 grid-item ieee webapps">
    <a href="#small-dialog-ieee-sywc" class="work-content">
        <div class="portfolio-item rounded shadow-dark">
            <div class="details">
                <span class="term">IEEE Sites, Web Apps</span>
                <h4 class="title">IEEE Sections Congress 2018 - Sri Lanka</h4>
                <span class="more-button"><i class="icon-options"></i></span>
            </div>
            <div class="thumb">
                <img src="images/works/sywc.jpeg" alt="IEEE Sections Congress 2018 - Sri Lanka" />
                <div class="mask"></div>
            </div>
        </div>
    </a>
    <div id="small-dialog-ieee-sywc" class="white-popup zoom-anim-dialog mfp-hide">
        <img src="images/works/sywc.jpeg" alt="IEEE Sections Congress 2018 - Sri Lanka" />
        <h2>IEEE Sections Congress 2018 - Sri Lanka</h2>
        <p>I had a great opportunity in 2018 to designed and develop the platform for Sri Lanka Section's largest event in a year.</p>
        <p>There were major parts of this platform. First one is website and other one is RSVP registration platform. I designed and developed both.</p>
        <a href="https://sywc.ieee.lk/archives/2018/index.php" target="_blank" class="btn btn-default">View Live Site</a>
    </div>
</div>

<!-- portfolio item -->

<div class="col-md-4 col-sm-6 grid-item ecommerce">
    <a href="#small-dialog-ag" class="work-content">
        <div class="portfolio-item rounded shadow-dark">
            <div class="details">
                <span class="term">E-Commerce</span>
                <h4 class="title">Api Goviyo Multi Vendor E-Commerce Platform</h4>
                <span class="more-button"><i class="icon-options"></i></span>
            </div>
            <div class="thumb">
                <img src="images/works/apigoviyo.jpeg" alt="Api Goviyo Multi Vendor E-Commerce Platform" />
                <div class="mask"></div>
            </div>
        </div>
    </a>
    <div id="small-dialog-ag" class="white-popup zoom-anim-dialog mfp-hide">
        <img src="images/works/apigoviyo.jpeg" alt="Api Goviyo Multi Vendor E-Commerce Platform" />
        <h2>Api Goviyo Multi Vendor E-Commerce Platform</h2>
        <p>The project owner of this project requested me to develop a multi vendor platform for to handle B2B business models.</p>
        <p>Accordingly, I used pre-built components and few other technologies to make his requirements come true.</p>
        <a href="https://apigoviyo.lk" target="_blank" class="btn btn-default">View Live Platform</a>
    </div>
</div>

<!-- portfolio item -->

<div class="col-md-4 col-sm-6 grid-item regular webapps">
    <a href="#small-dialog-dc" class="work-content">
        <div class="portfolio-item rounded shadow-dark">
            <div class="details">
                <span class="term">Regular Projects, Web Apps</span>
                <h4 class="title">Business Website, Personal Drive & Data Collector App</h4>
                <span class="more-button"><i class="icon-options"></i></span>
            </div>
            <div class="thumb">
                <img src="images/works/dc.jpeg" alt="Business Website, Personal Drive & Data Collector App" />
                <div class="mask"></div>
            </div>
        </div>
    </a>
    <div id="small-dialog-dc" class="white-popup zoom-anim-dialog mfp-hide">
        <img src="images/works/dc.jpeg" alt="Business Website, Personal Drive & Data Collector App" />
        <h2>Business Website, Personal Drive & Data Collector App</h2>
        <p>The project owner of this project required several requirements to be fulfilled inside his project.</p>
        <p>Mainly, he needs to develop a rich looked landing business website. Apart from that he required a personal drive to keep there client information and allow clients to access their shared documents separately. Also he needs to get construction
            information separately via application to his email with unique ids.</p>
        <a href="https://dc.lk" target="_blank" class="btn btn-default">Open Live Platform</a>
    </div>
</div>

<!-- portfolio item -->

<div class="col-md-4 col-sm-6 grid-item webapps">
    <a href="#small-dialog-nsbm-cms" class="work-content">
        <div class="portfolio-item rounded shadow-dark">
            <div class="details">
                <span class="term">Web Apps</span>
                <h4 class="title">NSBM Green University - CMS</h4>
                <span class="more-button"><i class="icon-options"></i></span>
            </div>
            <div class="thumb">
                <img src="images/works/nsbmcms.jpeg" alt="NSBM Green University - CMS" />
                <div class="mask"></div>
            </div>
        </div>
    </a>
    <div id="small-dialog-nsbm-cms" class="white-popup zoom-anim-dialog mfp-hide">
        <img src="images/works/nsbmcms.jpeg" alt="NSBM Green University - CMS" />
        <h2>NSBM Green University - CMS</h2>
        <p>This project was launched by myself and one of my friend to develop a Complaint Management System for NSBM Green University of Sri Lanka, my university.</p>
        <p>Through this platform, students can add any complaint related to university and track them. Those issues are directly forwarded to the Vice Chancellor of the university.</p>
        <a href="https://cms.nsbm.lk" target="_blank" class="btn btn-default">Open Live App</a>
    </div>
</div>

<!-- portfolio item -->

<div class="col-md-4 col-sm-6 grid-item regular portfolio">
    <a href="#small-dialog-kovida" class="work-content">
        <div class="portfolio-item rounded shadow-dark">
            <div class="details">
                <span class="term">Portfolio</span>
                <h4 class="title">Thisun Kovida's Personal Website</h4>
                <span class="more-button"><i class="icon-options"></i></span>
            </div>
            <div class="thumb">
                <img src="images/works/kovidalk.jpeg" alt="Thisun Kovida's Personal Website" />
                <div class="mask"></div>
            </div>
        </div>
    </a>
    <div id="small-dialog-kovida" class="white-popup zoom-anim-dialog mfp-hide">
        <img src="images/works/kovidalk.jpeg" alt="Thisun Kovida's Personal Website" />
        <h2>Thisun Kovida's Personal Website</h2>
        <p>This is a personal portfolio designed and developed as the client requested. The client is a young musician called Visharadha Thisun Kovida Waidyaratne. </p>
        <p>The project owner required an colorful landing website to add his works and information.</p>
        <a href="https://kovidalk.com" target="_blank" class="btn btn-default">View Live Site</a>
    </div>
</div>

<!-- portfolio item -->

<div class="col-md-4 col-sm-6 grid-item regular regular">
    <a href="#small-dialog-onsec" class="work-content">
        <div class="portfolio-item rounded shadow-dark">
            <div class="details">
                <span class="term">Regular Projects</span>
                <h4 class="title">Security Services based Business Website</h4>
                <span class="more-button"><i class="icon-options"></i></span>
            </div>
            <div class="thumb">
                <img src="images/works/onsec.jpeg" alt="Security Services based Business Website" />
                <div class="mask"></div>
            </div>
        </div>
    </a>
    <div id="small-dialog-onsec" class="white-popup zoom-anim-dialog mfp-hide">
        <img src="images/works/onsec.jpeg" alt="Security Services based Business Website" />
        <h2>Security Services based Business Website</h2>
        <p>The client of this website required to develop a business website to his Security Solution based company.</p>
        <p>He provided me all the details and color schemes to render the project. I made it.</p>
        <a href="https://onsecurity.lk" target="_blank" class="btn btn-default">View Live Site</a>
    </div>
</div>